body {
	color:#606060;
}
h1,h2,h3,h4,h5,p,div,body{
	margin:0px;
	padding:0px;
}
a, a:hover, a:visited, a:active {
	text-decoration: none;
}

#header, #header-xs {
	margin-bottom:16px;
	margin-top:16px;
	background-image:url("/head.png");
	background-repeat:no-repeat;
	background-position:top right;
	height:150px;
}
#header {
	text-align:center;
}
#header-xs {
	text-align:left;
}
#header h1, #header h2, #header-xs h1, #header-xs h2 {
	font-weight:bold;
}
#header h1, #header-xs h1 {
	font-size:3em;
	text-transform:uppercase;
}
#header h2 {
	font-size:2em;
}
#header h3 {
	font-size:1.4em;
}
#soon {
	font-size:5em;
	text-align:center;
}
#footer {
	margin:40px 0px;
	text-align:center;
}

div#gameboard table{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
div#gameboard table tr td i {
    font-size:1.6em;
}
div.square {
    width:25px;
    height:25px;
}
div#gist {
    width:200px;
    text-align:center;
    margin:24px auto;
}

.noselect {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}
